:root{
    --mustard-yellow: #F4D04E;
}

body,button{
    background-color: var(--mustard-yellow);
}

body,.bottom{
    display: flex;
    align-items: center;
}

#p1,#p2{
    font-size: 0.75rem;
}

body{
    justify-content: center;
    height: 800px;
    font-family: 'Figtree', sans-serif;;
}

.container{
    background-color: white;
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 6px 9px 0px 0px rgba(0,0,0,0.85);
    padding: 18px;
    overflow: hidden;
}

img{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

button{
    border: none;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px;
    transition: ease 300ms;
}

button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.85);
    background-color: black;
    color: var(--mustard-yellow);
}

#p1{
    font-weight: 600;
}

#p2{
    color: #808080;
    margin-bottom: 18px;
    opacity: 0.75;
}

#pfp{
    margin: 0 10px 0 0;
    height: 30px;
    width: 30px;
}

.bottom p{
    font-size: small;
    font-weight: 800;
}